<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slothreekingdom_bonus_button_thoat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,91}</string>
                <key>spriteSourceSize</key>
                <string>{213,91}</string>
                <key>textureRect</key>
                <string>{{862,1520},{213,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slothreekingdom_bonusgame_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1036,143}</string>
                <key>spriteSourceSize</key>
                <string>{1036,143}</string>
                <key>textureRect</key>
                <string>{{862,1},{1036,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotthreekingdom_bg_board_reward.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1631,908}</string>
                <key>spriteSourceSize</key>
                <string>{1631,908}</string>
                <key>textureRect</key>
                <string>{{1,1736},{1631,908}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotthreekingdom_bonus_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1733,859}</string>
                <key>spriteSourceSize</key>
                <string>{1733,859}</string>
                <key>textureRect</key>
                <string>{{1,1},{1733,859}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotthreekingdom_bonus_rewardPanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{411,219}</string>
                <key>spriteSourceSize</key>
                <string>{411,219}</string>
                <key>textureRect</key>
                <string>{{1,3487},{411,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotthreekingdom_btn_tim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,91}</string>
                <key>spriteSourceSize</key>
                <string>{213,91}</string>
                <key>textureRect</key>
                <string>{{911,2010},{213,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotthreekingdom_congratulation_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{766,116}</string>
                <key>spriteSourceSize</key>
                <string>{766,116}</string>
                <key>textureRect</key>
                <string>{{1,3369},{766,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotthreekingdom_reward_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,271}</string>
                <key>spriteSourceSize</key>
                <string>{329,271}</string>
                <key>textureRect</key>
                <string>{{414,3487},{329,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotthreekingdom_reward_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{479,104}</string>
                <key>spriteSourceSize</key>
                <string>{479,104}</string>
                <key>textureRect</key>
                <string>{{862,1039},{479,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotthreekingdom_reward_tree_bronze.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,306}</string>
                <key>spriteSourceSize</key>
                <string>{304,306}</string>
                <key>textureRect</key>
                <string>{{1,3708},{304,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotthreekingdom_reward_tree_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,306}</string>
                <key>spriteSourceSize</key>
                <string>{304,306}</string>
                <key>textureRect</key>
                <string>{{307,3760},{304,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotthreekingdom_reward_tree_silver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,305}</string>
                <key>spriteSourceSize</key>
                <string>{304,305}</string>
                <key>textureRect</key>
                <string>{{615,3760},{304,305}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotthreekingdom_ring_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,150}</string>
                <key>spriteSourceSize</key>
                <string>{153,150}</string>
                <key>textureRect</key>
                <string>{{769,3369},{153,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotthreekingdom_tower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,139}</string>
                <key>spriteSourceSize</key>
                <string>{166,139}</string>
                <key>textureRect</key>
                <string>{{745,3521},{166,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotthreekingdom_yougot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,61}</string>
                <key>spriteSourceSize</key>
                <string>{273,61}</string>
                <key>textureRect</key>
                <string>{{911,1735},{273,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BonusGame.png</string>
            <key>size</key>
            <string>{1006,4065}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e74281cdc3ecc12913e6b3e3276ae575:3a2103c207b82cccd45aa501e3e9983b:4b1082bf83074dbeeda36548ecaabe80$</string>
            <key>textureFileName</key>
            <string>BonusGame.png</string>
        </dict>
    </dict>
</plist>
