<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slotwomenagent_room_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,33}</string>
                <key>spriteSourceSize</key>
                <string>{94,33}</string>
                <key>textureRect</key>
                <string>{{915,215},{94,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_account_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,33}</string>
                <key>spriteSourceSize</key>
                <string>{156,33}</string>
                <key>textureRect</key>
                <string>{{854,100},{156,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,80}</string>
                <key>spriteSourceSize</key>
                <string>{69,80}</string>
                <key>textureRect</key>
                <string>{{777,134},{69,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_betline_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,32}</string>
                <key>spriteSourceSize</key>
                <string>{93,32}</string>
                <key>textureRect</key>
                <string>{{1012,1},{93,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotwomenagent_betvalue_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,35}</string>
                <key>spriteSourceSize</key>
                <string>{190,35}</string>
                <key>textureRect</key>
                <string>{{250,208},{190,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_bg_frame_paytable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,113}</string>
                <key>spriteSourceSize</key>
                <string>{283,113}</string>
                <key>textureRect</key>
                <string>{{492,134},{283,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_button_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,46}</string>
                <key>spriteSourceSize</key>
                <string>{53,46}</string>
                <key>textureRect</key>
                <string>{{492,85},{53,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_button_xem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,53}</string>
                <key>spriteSourceSize</key>
                <string>{110,53}</string>
                <key>textureRect</key>
                <string>{{854,45},{110,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_congratulation_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{551,82}</string>
                <key>spriteSourceSize</key>
                <string>{551,82}</string>
                <key>textureRect</key>
                <string>{{1,1},{551,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_done_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,34}</string>
                <key>spriteSourceSize</key>
                <string>{247,34}</string>
                <key>textureRect</key>
                <string>{{1,176},{247,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_freespin_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,30}</string>
                <key>spriteSourceSize</key>
                <string>{201,30}</string>
                <key>textureRect</key>
                <string>{{250,176},{201,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_history_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,87}</string>
                <key>spriteSourceSize</key>
                <string>{298,87}</string>
                <key>textureRect</key>
                <string>{{554,45},{298,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_jackpots_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,37}</string>
                <key>spriteSourceSize</key>
                <string>{143,37}</string>
                <key>textureRect</key>
                <string>{{848,176},{143,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_payline_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,39}</string>
                <key>spriteSourceSize</key>
                <string>{164,39}</string>
                <key>textureRect</key>
                <string>{{848,135},{164,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_presstocontinue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,42}</string>
                <key>spriteSourceSize</key>
                <string>{413,42}</string>
                <key>textureRect</key>
                <string>{{554,1},{413,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_session_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,32}</string>
                <key>spriteSourceSize</key>
                <string>{136,32}</string>
                <key>textureRect</key>
                <string>{{777,216},{136,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_time_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,34}</string>
                <key>spriteSourceSize</key>
                <string>{78,34}</string>
                <key>textureRect</key>
                <string>{{969,1},{78,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotwomenagent_topwinner_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,89}</string>
                <key>spriteSourceSize</key>
                <string>{489,89}</string>
                <key>textureRect</key>
                <string>{{1,85},{489,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_totalwin_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,34}</string>
                <key>spriteSourceSize</key>
                <string>{199,34}</string>
                <key>textureRect</key>
                <string>{{1,212},{199,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_win_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,33}</string>
                <key>spriteSourceSize</key>
                <string>{61,33}</string>
                <key>textureRect</key>
                <string>{{1011,176},{61,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Dialog.png</string>
            <key>size</key>
            <string>{1045,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b761e86ea58d139e69dcdd135ca42d6:d67c55254cc7996e074da487eb0411b7:b538516d751734d9b4256c852b9460ee$</string>
            <key>textureFileName</key>
            <string>Dialog.png</string>
        </dict>
    </dict>
</plist>
