<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slotwomenagent_account_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{133,47}</string>
                <key>spriteSourceSize</key>
                <string>{137,51}</string>
                <key>textureRect</key>
                <string>{{240,858},{133,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,198}</string>
                <key>spriteSourceSize</key>
                <string>{201,198}</string>
                <key>textureRect</key>
                <string>{{385,720},{201,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotwomenagent_betline_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{85,48}</string>
                <key>spriteSourceSize</key>
                <string>{89,50}</string>
                <key>textureRect</key>
                <string>{{725,869},{85,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_betvalue_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{138,47}</string>
                <key>spriteSourceSize</key>
                <string>{142,51}</string>
                <key>textureRect</key>
                <string>{{585,857},{138,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_btn_dongy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,98}</string>
                <key>spriteSourceSize</key>
                <string>{237,98}</string>
                <key>textureRect</key>
                <string>{{1,807},{237,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_button_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,52}</string>
                <key>spriteSourceSize</key>
                <string>{86,52}</string>
                <key>textureRect</key>
                <string>{{929,646},{86,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_button_xem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,49}</string>
                <key>spriteSourceSize</key>
                <string>{130,49}</string>
                <key>textureRect</key>
                <string>{{385,669},{130,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_dialog_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,593}</string>
                <key>spriteSourceSize</key>
                <string>{1024,593}</string>
                <key>textureRect</key>
                <string>{{1,1},{1024,593}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_filter_jackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,48}</string>
                <key>spriteSourceSize</key>
                <string>{120,48}</string>
                <key>textureRect</key>
                <string>{{757,769},{120,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_filter_khac.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,47}</string>
                <key>spriteSourceSize</key>
                <string>{93,47}</string>
                <key>textureRect</key>
                <string>{{929,700},{93,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_filter_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,49}</string>
                <key>spriteSourceSize</key>
                <string>{130,49}</string>
                <key>textureRect</key>
                <string>{{240,807},{130,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_filter_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,49}</string>
                <key>spriteSourceSize</key>
                <string>{130,49}</string>
                <key>textureRect</key>
                <string>{{797,668},{130,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_filter_thanglon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,48}</string>
                <key>spriteSourceSize</key>
                <string>{103,48}</string>
                <key>textureRect</key>
                <string>{{729,819},{103,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_freespin_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,27}</string>
                <key>spriteSourceSize</key>
                <string>{170,27}</string>
                <key>textureRect</key>
                <string>{{585,749},{170,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_history_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,64}</string>
                <key>spriteSourceSize</key>
                <string>{354,64}</string>
                <key>textureRect</key>
                <string>{{1,741},{354,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_jackpots_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{142,48}</string>
                <key>spriteSourceSize</key>
                <string>{144,50}</string>
                <key>textureRect</key>
                <string>{{585,807},{142,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_loading_dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{879,769},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_payline_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{113,48}</string>
                <key>spriteSourceSize</key>
                <string>{117,50}</string>
                <key>textureRect</key>
                <string>{{906,596},{113,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_paytable_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,70}</string>
                <key>spriteSourceSize</key>
                <string>{382,70}</string>
                <key>textureRect</key>
                <string>{{1,669},{382,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_presstocontinue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,50}</string>
                <key>spriteSourceSize</key>
                <string>{273,50}</string>
                <key>textureRect</key>
                <string>{{522,668},{273,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_room_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{98,47}</string>
                <key>spriteSourceSize</key>
                <string>{100,51}</string>
                <key>textureRect</key>
                <string>{{925,749},{98,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_session_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{124,48}</string>
                <key>spriteSourceSize</key>
                <string>{128,50}</string>
                <key>textureRect</key>
                <string>{{799,719},{124,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_time_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{75,47}</string>
                <key>spriteSourceSize</key>
                <string>{79,51}</string>
                <key>textureRect</key>
                <string>{{834,819},{75,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotwomenagent_topwinner_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,70}</string>
                <key>spriteSourceSize</key>
                <string>{382,70}</string>
                <key>textureRect</key>
                <string>{{522,596},{382,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_totalwin_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,27}</string>
                <key>spriteSourceSize</key>
                <string>{165,27}</string>
                <key>textureRect</key>
                <string>{{585,778},{165,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_win_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{68,47}</string>
                <key>spriteSourceSize</key>
                <string>{72,51}</string>
                <key>textureRect</key>
                <string>{{945,798},{68,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomentagent_congratulation_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{519,71}</string>
                <key>spriteSourceSize</key>
                <string>{519,71}</string>
                <key>textureRect</key>
                <string>{{1,596},{519,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomentagent_done_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,27}</string>
                <key>spriteSourceSize</key>
                <string>{212,27}</string>
                <key>textureRect</key>
                <string>{{585,720},{212,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomentagent_x_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,60}</string>
                <key>spriteSourceSize</key>
                <string>{71,60}</string>
                <key>textureRect</key>
                <string>{{883,815},{71,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Dialog.png</string>
            <key>size</key>
            <string>{1026,922}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2988ecbe7731cd1c04a59e1da4e8b14:bd4a380d9966d28b8c1874ef16ab4b62:b538516d751734d9b4256c852b9460ee$</string>
            <key>textureFileName</key>
            <string>Dialog.png</string>
        </dict>
    </dict>
</plist>
