<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_button_quaynhanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,152}</string>
                <key>spriteSourceSize</key>
                <string>{174,152}</string>
                <key>textureRect</key>
                <string>{{1,1},{174,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_quay_nhanh_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,102}</string>
                <key>spriteSourceSize</key>
                <string>{174,152}</string>
                <key>textureRect</key>
                <string>{{1,155},{110,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_quay_nhanh_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{110,100}</string>
                <key>spriteSourceSize</key>
                <string>{174,152}</string>
                <key>textureRect</key>
                <string>{{113,155},{110,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FastRoll.png</string>
            <key>size</key>
            <string>{224,258}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f7ea762ce6f1679d84c59af76e3e3c1:2ad183584483989a84685b0b5fc0cec2:aa10d3bc7eaf086fa57302da98957b32$</string>
            <key>textureFileName</key>
            <string>FastRoll.png</string>
        </dict>
    </dict>
</plist>
