<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slotwomenagent_auto_roll_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,115}</string>
                <key>spriteSourceSize</key>
                <string>{263,115}</string>
                <key>textureRect</key>
                <string>{{666,642},{263,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotthreekingdom_auto_roll_btn_inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,115}</string>
                <key>spriteSourceSize</key>
                <string>{263,115}</string>
                <key>textureRect</key>
                <string>{{397,1107},{263,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotthreekingdom_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,46}</string>
                <key>spriteSourceSize</key>
                <string>{53,46}</string>
                <key>textureRect</key>
                <string>{{265,1385},{53,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_bet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,115}</string>
                <key>spriteSourceSize</key>
                <string>{190,115}</string>
                <key>textureRect</key>
                <string>{{265,1193},{190,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotwomenagent_bg_credit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{874,280}</string>
                <key>spriteSourceSize</key>
                <string>{874,280}</string>
                <key>textureRect</key>
                <string>{{1,1},{874,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotthreekingdom_btn_lobby_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,128}</string>
                <key>spriteSourceSize</key>
                <string>{368,128}</string>
                <key>textureRect</key>
                <string>{{397,737},{368,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotthreekingdom_btn_lobby_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,128}</string>
                <key>spriteSourceSize</key>
                <string>{368,128}</string>
                <key>textureRect</key>
                <string>{{527,737},{368,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotwomenagent_free_spin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,184}</string>
                <key>spriteSourceSize</key>
                <string>{214,184}</string>
                <key>textureRect</key>
                <string>{{662,1071},{214,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotthreekingdom_giacatluong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,62}</string>
                <key>spriteSourceSize</key>
                <string>{397,62}</string>
                <key>textureRect</key>
                <string>{{333,738},{397,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotwomenagent_golden_time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,357}</string>
                <key>spriteSourceSize</key>
                <string>{275,357}</string>
                <key>textureRect</key>
                <string>{{666,283},{275,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_home_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,81}</string>
                <key>spriteSourceSize</key>
                <string>{155,81}</string>
                <key>textureRect</key>
                <string>{{848,1073},{155,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotwomenagent_icon_casualmark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{839,1299},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotthreekingdom_icon_giacatluong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,452}</string>
                <key>spriteSourceSize</key>
                <string>{330,452}</string>
                <key>textureRect</key>
                <string>{{334,283},{330,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_icon_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,73}</string>
                <key>spriteSourceSize</key>
                <string>{67,73}</string>
                <key>textureRect</key>
                <string>{{848,1230},{67,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotthreekingdom_icon_quanvu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,453}</string>
                <key>spriteSourceSize</key>
                <string>{330,453}</string>
                <key>textureRect</key>
                <string>{{1,738},{330,453}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_icon_ranking.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,73}</string>
                <key>spriteSourceSize</key>
                <string>{67,73}</string>
                <key>textureRect</key>
                <string>{{804,1404},{67,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_icon_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,73}</string>
                <key>spriteSourceSize</key>
                <string>{67,73}</string>
                <key>textureRect</key>
                <string>{{873,1404},{67,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotthreekingdom_icon_truongphi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,453}</string>
                <key>spriteSourceSize</key>
                <string>{331,453}</string>
                <key>textureRect</key>
                <string>{{1,283},{331,453}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,115}</string>
                <key>spriteSourceSize</key>
                <string>{190,115}</string>
                <key>textureRect</key>
                <string>{{647,1287},{190,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_minigame_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,81}</string>
                <key>spriteSourceSize</key>
                <string>{155,81}</string>
                <key>textureRect</key>
                <string>{{647,1404},{155,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotthreekingdom_quanvu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,63}</string>
                <key>spriteSourceSize</key>
                <string>{287,63}</string>
                <key>textureRect</key>
                <string>{{1,1433},{287,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_roll_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,238}</string>
                <key>spriteSourceSize</key>
                <string>{262,238}</string>
                <key>textureRect</key>
                <string>{{1,1193},{262,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_sandbox_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,100}</string>
                <key>spriteSourceSize</key>
                <string>{310,100}</string>
                <key>textureRect</key>
                <string>{{657,759},{310,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotwomenagent_sandbox_off_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,100}</string>
                <key>spriteSourceSize</key>
                <string>{310,100}</string>
                <key>textureRect</key>
                <string>{{759,759},{310,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotwomenagent_setting_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{53,53}</string>
                <key>textureRect</key>
                <string>{{333,1137},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_setting_music.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,27}</string>
                <key>spriteSourceSize</key>
                <string>{36,27}</string>
                <key>textureRect</key>
                <string>{{877,147},{36,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_setting_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,144}</string>
                <key>spriteSourceSize</key>
                <string>{62,144}</string>
                <key>textureRect</key>
                <string>{{877,1},{62,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_setting_sound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,29}</string>
                <key>spriteSourceSize</key>
                <string>{38,29}</string>
                <key>textureRect</key>
                <string>{{839,1373},{38,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_total.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,115}</string>
                <key>spriteSourceSize</key>
                <string>{263,115}</string>
                <key>textureRect</key>
                <string>{{382,1224},{263,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotthreekingdom_truongphi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,62}</string>
                <key>spriteSourceSize</key>
                <string>{312,62}</string>
                <key>textureRect</key>
                <string>{{861,759},{312,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotwomenagent_win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,115}</string>
                <key>spriteSourceSize</key>
                <string>{263,115}</string>
                <key>textureRect</key>
                <string>{{382,1341},{263,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MainGames.png</string>
            <key>size</key>
            <string>{942,1497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38c5062ddaa817afe31e9507522459e4:63f66b29d9a6c9b0238398b28e30b32e:743989ff9f901329b8c997dc011f6450$</string>
            <key>textureFileName</key>
            <string>MainGames.png</string>
        </dict>
    </dict>
</plist>
