<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slotwomenagent_bonus_btn_thoat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,91}</string>
                <key>spriteSourceSize</key>
                <string>{213,91}</string>
                <key>textureRect</key>
                <string>{{987,225},{213,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_chooseweapon_agent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1036,143}</string>
                <key>spriteSourceSize</key>
                <string>{1036,143}</string>
                <key>textureRect</key>
                <string>{{1,1},{1036,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_bonus_rewardPanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{411,219}</string>
                <key>spriteSourceSize</key>
                <string>{411,219}</string>
                <key>textureRect</key>
                <string>{{1807,1},{411,219}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotthreekingdom_btn_tim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,91}</string>
                <key>spriteSourceSize</key>
                <string>{213,91}</string>
                <key>textureRect</key>
                <string>{{1370,225},{213,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotwomenagent_bonus_rewardPanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{766,116}</string>
                <key>spriteSourceSize</key>
                <string>{766,116}</string>
                <key>textureRect</key>
                <string>{{1039,1},{766,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotthreekingdom_reward_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,271}</string>
                <key>spriteSourceSize</key>
                <string>{329,271}</string>
                <key>textureRect</key>
                <string>{{1520,119},{329,271}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotthreekingdom_reward_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{479,104}</string>
                <key>spriteSourceSize</key>
                <string>{479,104}</string>
                <key>textureRect</key>
                <string>{{1039,119},{479,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_boss1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,306}</string>
                <key>spriteSourceSize</key>
                <string>{304,306}</string>
                <key>textureRect</key>
                <string>{{1,146},{304,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotwomenagent_boss2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,306}</string>
                <key>spriteSourceSize</key>
                <string>{304,306}</string>
                <key>textureRect</key>
                <string>{{309,146},{304,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotwomenagent_boss3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,305}</string>
                <key>spriteSourceSize</key>
                <string>{304,305}</string>
                <key>textureRect</key>
                <string>{{617,146},{304,305}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotthreekingdom_ring_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,150}</string>
                <key>spriteSourceSize</key>
                <string>{153,150}</string>
                <key>textureRect</key>
                <string>{{987,318},{153,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotthreekingdom_tower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,139}</string>
                <key>spriteSourceSize</key>
                <string>{166,139}</string>
                <key>textureRect</key>
                <string>{{1202,225},{166,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotthreekingdom_yougot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,61}</string>
                <key>spriteSourceSize</key>
                <string>{273,61}</string>
                <key>textureRect</key>
                <string>{{924,146},{273,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BonusGame.png</string>
            <key>size</key>
            <string>{2027,469}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a111c31e1373cba2030aed011e97b135:c297205bd78822e2f2911f9eac9b9c92:4b1082bf83074dbeeda36548ecaabe80$</string>
            <key>textureFileName</key>
            <string>BonusGame.png</string>
        </dict>
    </dict>
</plist>
