<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slotwomenagent_Sym_Bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,234}</string>
                <key>spriteSourceSize</key>
                <string>{230,234}</string>
                <key>textureRect</key>
                <string>{{0,0},{230,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_Sym_Jackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,230}</string>
                <key>spriteSourceSize</key>
                <string>{230,230}</string>
                <key>textureRect</key>
                <string>{{230,0},{230,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_Sym_Scatter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,230}</string>
                <key>spriteSourceSize</key>
                <string>{234,230}</string>
                <key>textureRect</key>
                <string>{{0,1154},{234,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_Sym_SymA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,230}</string>
                <key>spriteSourceSize</key>
                <string>{230,230}</string>
                <key>textureRect</key>
                <string>{{0,234},{230,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_Sym_SymB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,230}</string>
                <key>spriteSourceSize</key>
                <string>{230,230}</string>
                <key>textureRect</key>
                <string>{{230,234},{230,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_Sym_SymC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,230}</string>
                <key>spriteSourceSize</key>
                <string>{230,230}</string>
                <key>textureRect</key>
                <string>{{0,464},{230,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_Sym_SymD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,230}</string>
                <key>spriteSourceSize</key>
                <string>{230,230}</string>
                <key>textureRect</key>
                <string>{{230,464},{230,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_Sym_SymE.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,230}</string>
                <key>spriteSourceSize</key>
                <string>{230,230}</string>
                <key>textureRect</key>
                <string>{{0,694},{230,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_Sym_SymF.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,230}</string>
                <key>spriteSourceSize</key>
                <string>{230,230}</string>
                <key>textureRect</key>
                <string>{{230,694},{230,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_Sym_SymG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,230}</string>
                <key>spriteSourceSize</key>
                <string>{230,230}</string>
                <key>textureRect</key>
                <string>{{0,924},{230,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_Sym_Wild.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,230}</string>
                <key>spriteSourceSize</key>
                <string>{230,230}</string>
                <key>textureRect</key>
                <string>{{230,924},{230,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sym.png</string>
            <key>size</key>
            <string>{460,1384}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1464652fd52ff9618f618954d4a2e685:6263221f00a4fca45cb7521a65c99cbf:aea551a5610ca9ffa6003e657c17b6a5$</string>
            <key>textureFileName</key>
            <string>sym.png</string>
        </dict>
    </dict>
</plist>
