<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_womenagent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{342,386}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1028,741},{342,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_bg_gun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,388}</string>
                <key>spriteSourceSize</key>
                <string>{388,388}</string>
                <key>textureRect</key>
                <string>{{638,743},{388,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_bonus_btn_thoat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,98}</string>
                <key>spriteSourceSize</key>
                <string>{237,98}</string>
                <key>textureRect</key>
                <string>{{1372,928},{237,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_bonus_complete_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,697}</string>
                <key>spriteSourceSize</key>
                <string>{613,697}</string>
                <key>textureRect</key>
                <string>{{1,104},{613,697}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_bonus_rewardPanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,178}</string>
                <key>spriteSourceSize</key>
                <string>{305,178}</string>
                <key>textureRect</key>
                <string>{{1372,748},{305,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_bonus_shoot_hold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{1251,1},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_boss1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,635}</string>
                <key>spriteSourceSize</key>
                <string>{372,635}</string>
                <key>textureRect</key>
                <string>{{1,803},{372,635}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotwomenagent_boss2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,635}</string>
                <key>spriteSourceSize</key>
                <string>{372,635}</string>
                <key>textureRect</key>
                <string>{{991,104},{372,635}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_boss3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,637}</string>
                <key>spriteSourceSize</key>
                <string>{373,637}</string>
                <key>textureRect</key>
                <string>{{616,104},{373,637}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_btn_choi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,89}</string>
                <key>spriteSourceSize</key>
                <string>{199,89}</string>
                <key>textureRect</key>
                <string>{{1372,1028},{199,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_chooseweapon_agent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{688,101}</string>
                <key>spriteSourceSize</key>
                <string>{690,101}</string>
                <key>textureRect</key>
                <string>{{1365,1},{688,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotwomenagent_icon_gun1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,247}</string>
                <key>spriteSourceSize</key>
                <string>{225,247}</string>
                <key>textureRect</key>
                <string>{{1468,1},{225,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_icon_gun2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,247}</string>
                <key>spriteSourceSize</key>
                <string>{225,247}</string>
                <key>textureRect</key>
                <string>{{1468,250},{225,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_icon_gun3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,247}</string>
                <key>spriteSourceSize</key>
                <string>{225,247}</string>
                <key>textureRect</key>
                <string>{{1468,499},{225,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotwomenagent_shootboss_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{1248,101}</string>
                <key>spriteSourceSize</key>
                <string>{1250,101}</string>
                <key>textureRect</key>
                <string>{{1,1},{1248,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BonusGame.png</string>
            <key>size</key>
            <string>{1694,1176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f479e8580a805a3943e902cd2ed9492:b7b44b39257ad159d8f0d16dd32a2cde:4b1082bf83074dbeeda36548ecaabe80$</string>
            <key>textureFileName</key>
            <string>BonusGame.png</string>
        </dict>
    </dict>
</plist>
