<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slotmhv_popup_border.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{631,408},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmhv_popup_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{565,298},{40,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmhv_text_dung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,127}</string>
                <key>spriteSourceSize</key>
                <string>{307,127}</string>
                <key>textureRect</key>
                <string>{{322,353},{307,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmhv_tim_gay_nhu_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{748,74}</string>
                <key>spriteSourceSize</key>
                <string>{750,76}</string>
                <key>textureRect</key>
                <string>{{1,1},{748,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmhv_total_win_x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,56}</string>
                <key>spriteSourceSize</key>
                <string>{244,58}</string>
                <key>textureRect</key>
                <string>{{631,298},{242,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmhv_txt_x2_thang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{319,118}</string>
                <key>spriteSourceSize</key>
                <string>{323,120}</string>
                <key>textureRect</key>
                <string>{{1,365},{319,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmhv_txt_x2_thua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{262,90}</string>
                <key>spriteSourceSize</key>
                <string>{266,92}</string>
                <key>textureRect</key>
                <string>{{784,1},{262,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmhv_x2_gaynhuy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{287,286}</string>
                <key>spriteSourceSize</key>
                <string>{291,292}</string>
                <key>textureRect</key>
                <string>{{1,77},{287,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmhv_x2_popup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,50}</string>
                <key>spriteSourceSize</key>
                <string>{85,52}</string>
                <key>textureRect</key>
                <string>{{631,356},{83,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmhv_x2_thap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,217}</string>
                <key>spriteSourceSize</key>
                <string>{219,217}</string>
                <key>textureRect</key>
                <string>{{565,77},{219,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmhv_x2_vongkimco.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,274}</string>
                <key>spriteSourceSize</key>
                <string>{273,274}</string>
                <key>textureRect</key>
                <string>{{290,77},{273,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Popup.png</string>
            <key>size</key>
            <string>{875,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bd9a457592394ca157f4914b3687b59:9a3c18467d41a2a45328738c64d695ed:67a853251e2880c31c6391590c2bbd81$</string>
            <key>textureFileName</key>
            <string>Popup.png</string>
        </dict>
    </dict>
</plist>
