<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slotmaya_bonus_bg_result.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{629,658}</string>
                <key>spriteSourceSize</key>
                <string>{629,658}</string>
                <key>textureRect</key>
                <string>{{1,1},{629,658}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_bonus_button_thoat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,97}</string>
                <key>spriteSourceSize</key>
                <string>{166,97}</string>
                <key>textureRect</key>
                <string>{{1,632},{166,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_bonus_close_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,39}</string>
                <key>spriteSourceSize</key>
                <string>{42,39}</string>
                <key>textureRect</key>
                <string>{{1,1164},{42,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_bonus_multiply.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,120}</string>
                <key>spriteSourceSize</key>
                <string>{228,120}</string>
                <key>textureRect</key>
                <string>{{347,1093},{228,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_bonus_playtime.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,120}</string>
                <key>spriteSourceSize</key>
                <string>{228,120}</string>
                <key>textureRect</key>
                <string>{{577,1093},{228,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_bonus_rewardPanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,128}</string>
                <key>spriteSourceSize</key>
                <string>{273,128}</string>
                <key>textureRect</key>
                <string>{{347,632},{273,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_box_reward.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,161}</string>
                <key>spriteSourceSize</key>
                <string>{116,161}</string>
                <key>textureRect</key>
                <string>{{199,632},{116,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_btn_tim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,97}</string>
                <key>spriteSourceSize</key>
                <string>{166,97}</string>
                <key>textureRect</key>
                <string>{{100,632},{166,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_reward1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,269}</string>
                <key>spriteSourceSize</key>
                <string>{314,269}</string>
                <key>textureRect</key>
                <string>{{661,1},{314,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_reward2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,265}</string>
                <key>spriteSourceSize</key>
                <string>{314,265}</string>
                <key>textureRect</key>
                <string>{{661,272},{314,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_reward3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,265}</string>
                <key>spriteSourceSize</key>
                <string>{314,265}</string>
                <key>textureRect</key>
                <string>{{661,539},{314,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_reward4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,265}</string>
                <key>spriteSourceSize</key>
                <string>{314,265}</string>
                <key>textureRect</key>
                <string>{{620,806},{314,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_reward_coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,271}</string>
                <key>spriteSourceSize</key>
                <string>{329,271}</string>
                <key>textureRect</key>
                <string>{{347,762},{329,271}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotzodiac_effect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,344}</string>
                <key>spriteSourceSize</key>
                <string>{356,344}</string>
                <key>textureRect</key>
                <string>{{1,806},{356,344}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BonusGame.png</string>
            <key>size</key>
            <string>{976,1214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c19873f9f7a35dd035fe3e2b9c4ba88a:f53c160cbdefafa6cdaff625eeff0b2b:4b1082bf83074dbeeda36548ecaabe80$</string>
            <key>textureFileName</key>
            <string>BonusGame.png</string>
        </dict>
    </dict>
</plist>
