<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slotmaya_account_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,30}</string>
                <key>spriteSourceSize</key>
                <string>{128,30}</string>
                <key>textureRect</key>
                <string>{{279,421},{128,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,88}</string>
                <key>spriteSourceSize</key>
                <string>{95,88}</string>
                <key>textureRect</key>
                <string>{{218,765},{95,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_betvalue_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,24}</string>
                <key>spriteSourceSize</key>
                <string>{112,24}</string>
                <key>textureRect</key>
                <string>{{268,637},{112,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_button_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,46}</string>
                <key>spriteSourceSize</key>
                <string>{53,46}</string>
                <key>textureRect</key>
                <string>{{446,67},{53,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_button_xem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,68}</string>
                <key>spriteSourceSize</key>
                <string>{154,68}</string>
                <key>textureRect</key>
                <string>{{345,827},{154,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_chooseline_btn_all.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,85}</string>
                <key>spriteSourceSize</key>
                <string>{215,85}</string>
                <key>textureRect</key>
                <string>{{1,502},{215,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_chooseline_btn_deselect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,85}</string>
                <key>spriteSourceSize</key>
                <string>{215,85}</string>
                <key>textureRect</key>
                <string>{{1,589},{215,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_chooseline_btn_evenline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,85}</string>
                <key>spriteSourceSize</key>
                <string>{215,85}</string>
                <key>textureRect</key>
                <string>{{1,676},{215,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_chooseline_btn_oddline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,85}</string>
                <key>spriteSourceSize</key>
                <string>{215,85}</string>
                <key>textureRect</key>
                <string>{{1,763},{215,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_congratulation_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{443,48}</string>
                <key>spriteSourceSize</key>
                <string>{443,48}</string>
                <key>textureRect</key>
                <string>{{1,67},{443,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_freespin_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,35}</string>
                <key>spriteSourceSize</key>
                <string>{169,35}</string>
                <key>textureRect</key>
                <string>{{308,785},{169,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_history_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,48}</string>
                <key>spriteSourceSize</key>
                <string>{202,48}</string>
                <key>textureRect</key>
                <string>{{218,561},{202,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_line_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{350,141},{148,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_line_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{350,239},{148,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_line_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{350,337},{148,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_line_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{349,435},{148,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_line_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{349,533},{148,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_line_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{347,631},{148,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_line_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{347,729},{148,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_line_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{345,897},{148,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_line_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{1,850},{148,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_line_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{151,862},{148,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_line_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{1,948},{148,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_line_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{151,960},{148,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_line_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{1,1046},{148,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_line_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{328,995},{148,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_line_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{151,1058},{148,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_line_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{1,1144},{148,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_line_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{151,1156},{148,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_line_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{249,1156},{148,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_line_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{347,1093},{148,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_line_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{347,1191},{148,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_lines_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,25}</string>
                <key>spriteSourceSize</key>
                <string>{58,25}</string>
                <key>textureRect</key>
                <string>{{218,534},{58,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_payline_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,24}</string>
                <key>spriteSourceSize</key>
                <string>{82,24}</string>
                <key>textureRect</key>
                <string>{{301,1042},{82,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_presscontinue_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,30}</string>
                <key>spriteSourceSize</key>
                <string>{276,30}</string>
                <key>textureRect</key>
                <string>{{1,421},{276,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_reward_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,47}</string>
                <key>spriteSourceSize</key>
                <string>{256,47}</string>
                <key>textureRect</key>
                <string>{{1,453},{256,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_room_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,30}</string>
                <key>spriteSourceSize</key>
                <string>{84,30}</string>
                <key>textureRect</key>
                <string>{{278,551},{84,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_selectedline_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,64}</string>
                <key>spriteSourceSize</key>
                <string>{498,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{498,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_session_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,25}</string>
                <key>spriteSourceSize</key>
                <string>{84,25}</string>
                <key>textureRect</key>
                <string>{{301,956},{84,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_time_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,24}</string>
                <key>spriteSourceSize</key>
                <string>{53,24}</string>
                <key>textureRect</key>
                <string>{{446,115},{53,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_top_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,48}</string>
                <key>spriteSourceSize</key>
                <string>{308,48}</string>
                <key>textureRect</key>
                <string>{{1,371},{308,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_totalwin_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,35}</string>
                <key>spriteSourceSize</key>
                <string>{187,35}</string>
                <key>textureRect</key>
                <string>{{310,596},{187,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_win_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,30}</string>
                <key>spriteSourceSize</key>
                <string>{58,30}</string>
                <key>textureRect</key>
                <string>{{218,502},{58,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_x_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,347}</string>
                <key>spriteSourceSize</key>
                <string>{252,347}</string>
                <key>textureRect</key>
                <string>{{1,117},{252,347}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_youvedone_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,36}</string>
                <key>spriteSourceSize</key>
                <string>{223,36}</string>
                <key>textureRect</key>
                <string>{{311,371},{223,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Dialog.png</string>
            <key>size</key>
            <string>{500,1305}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c3eaf562f36063250b5fb1c8e687c98:a186c8028d8e80aca0e65946e67f9d4a:b538516d751734d9b4256c852b9460ee$</string>
            <key>textureFileName</key>
            <string>Dialog.png</string>
        </dict>
    </dict>
</plist>
