<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slotmaya_auto_roll_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,120}</string>
                <key>spriteSourceSize</key>
                <string>{254,120}</string>
                <key>textureRect</key>
                <string>{{506,691},{254,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_auto_roll_btn_inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,26}</string>
                <key>spriteSourceSize</key>
                <string>{204,26}</string>
                <key>textureRect</key>
                <string>{{262,1027},{204,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_btn_cuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,120}</string>
                <key>spriteSourceSize</key>
                <string>{204,120}</string>
                <key>textureRect</key>
                <string>{{788,597},{204,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_btn_dong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,120}</string>
                <key>spriteSourceSize</key>
                <string>{204,120}</string>
                <key>textureRect</key>
                <string>{{762,719},{204,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_btn_dongy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,81}</string>
                <key>spriteSourceSize</key>
                <string>{214,81}</string>
                <key>textureRect</key>
                <string>{{933,1},{214,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_btn_thang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,147}</string>
                <key>spriteSourceSize</key>
                <string>{280,147}</string>
                <key>textureRect</key>
                <string>{{506,542},{280,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_btn_tongdat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,120}</string>
                <key>spriteSourceSize</key>
                <string>{254,120}</string>
                <key>textureRect</key>
                <string>{{506,813},{254,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_casual_mark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{901,255},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_disconnect_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,503}</string>
                <key>spriteSourceSize</key>
                <string>{1024,503}</string>
                <key>textureRect</key>
                <string>{{1,1},{1024,503}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_free_spin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,158}</string>
                <key>spriteSourceSize</key>
                <string>{173,158}</string>
                <key>textureRect</key>
                <string>{{827,437},{173,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_free_spin_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,109}</string>
                <key>spriteSourceSize</key>
                <string>{393,109}</string>
                <key>textureRect</key>
                <string>{{506,255},{393,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_golden_time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,193}</string>
                <key>spriteSourceSize</key>
                <string>{155,193}</string>
                <key>textureRect</key>
                <string>{{751,841},{155,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_home_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,121}</string>
                <key>spriteSourceSize</key>
                <string>{121,121}</string>
                <key>textureRect</key>
                <string>{{628,813},{121,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_info_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,83}</string>
                <key>spriteSourceSize</key>
                <string>{93,83}</string>
                <key>textureRect</key>
                <string>{{901,352},{93,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_minigame_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,121}</string>
                <key>spriteSourceSize</key>
                <string>{121,121}</string>
                <key>textureRect</key>
                <string>{{628,936},{121,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_ranking_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,83}</string>
                <key>spriteSourceSize</key>
                <string>{93,83}</string>
                <key>textureRect</key>
                <string>{{908,841},{93,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_roll_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{425,252}</string>
                <key>spriteSourceSize</key>
                <string>{441,252}</string>
                <key>textureRect</key>
                <string>{{506,1},{425,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_sanbox_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,86}</string>
                <key>spriteSourceSize</key>
                <string>{319,86}</string>
                <key>textureRect</key>
                <string>{{506,366},{319,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_sanbox_off_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,86}</string>
                <key>spriteSourceSize</key>
                <string>{319,86}</string>
                <key>textureRect</key>
                <string>{{506,454},{319,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_setting_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,83}</string>
                <key>spriteSourceSize</key>
                <string>{93,83}</string>
                <key>textureRect</key>
                <string>{{908,926},{93,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_setting_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{53,53}</string>
                <key>textureRect</key>
                <string>{{147,1027},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_setting_music.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,27}</string>
                <key>spriteSourceSize</key>
                <string>{36,27}</string>
                <key>textureRect</key>
                <string>{{233,1027},{36,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_setting_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,144}</string>
                <key>spriteSourceSize</key>
                <string>{62,144}</string>
                <key>textureRect</key>
                <string>{{1,1027},{62,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_setting_sound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,29}</string>
                <key>spriteSourceSize</key>
                <string>{38,29}</string>
                <key>textureRect</key>
                <string>{{202,1027},{38,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MainGames.png</string>
            <key>size</key>
            <string>{1015,1090}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3effa6d02d389b3de2286df05c372f5d:ae0ec7b1a4e544ec677a09173e6af395:743989ff9f901329b8c997dc011f6450$</string>
            <key>textureFileName</key>
            <string>MainGames.png</string>
        </dict>
    </dict>
</plist>
