<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slotzodiac_Bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,253}</string>
                <key>spriteSourceSize</key>
                <string>{231,253}</string>
                <key>textureRect</key>
                <string>{{244,190},{231,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotzodiac_Jackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,323}</string>
                <key>spriteSourceSize</key>
                <string>{237,323}</string>
                <key>textureRect</key>
                <string>{{499,212},{237,323}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotzodiac_Scatter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,224}</string>
                <key>spriteSourceSize</key>
                <string>{241,224}</string>
                <key>textureRect</key>
                <string>{{1,189},{241,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotzodiac_SymA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,188}</string>
                <key>spriteSourceSize</key>
                <string>{186,188}</string>
                <key>textureRect</key>
                <string>{{179,1},{186,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotzodiac_SymB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,223}</string>
                <key>spriteSourceSize</key>
                <string>{187,223}</string>
                <key>textureRect</key>
                <string>{{369,1},{187,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotzodiac_SymC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,176}</string>
                <key>spriteSourceSize</key>
                <string>{174,176}</string>
                <key>textureRect</key>
                <string>{{1,1},{174,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotzodiac_SymD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,263}</string>
                <key>spriteSourceSize</key>
                <string>{209,263}</string>
                <key>textureRect</key>
                <string>{{594,1},{209,263}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SlotObjects.png</string>
            <key>size</key>
            <string>{858,450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1af0a35599fe5f2d7f83747b07cf0d52:e9f8e5deeb4ace2b1c48199905d7cdb0:0161a105e18067719bfb4cbc26c4141e$</string>
            <key>textureFileName</key>
            <string>SlotObjects.png</string>
        </dict>
    </dict>
</plist>
