<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slotmaya_bonus_bg_result.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{629,658}</string>
                <key>spriteSourceSize</key>
                <string>{629,658}</string>
                <key>textureRect</key>
                <string>{{1,1},{629,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_bonus_button_thoat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,97}</string>
                <key>spriteSourceSize</key>
                <string>{166,97}</string>
                <key>textureRect</key>
                <string>{{889,412},{166,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_bonus_close_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,39}</string>
                <key>spriteSourceSize</key>
                <string>{42,39}</string>
                <key>textureRect</key>
                <string>{{869,748},{42,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_bonus_multiply.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,133}</string>
                <key>spriteSourceSize</key>
                <string>{281,133}</string>
                <key>textureRect</key>
                <string>{{325,874},{281,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_bonus_playtime.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,133}</string>
                <key>spriteSourceSize</key>
                <string>{281,133}</string>
                <key>textureRect</key>
                <string>{{608,874},{281,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_bonus_rewardPanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,133}</string>
                <key>spriteSourceSize</key>
                <string>{322,133}</string>
                <key>textureRect</key>
                <string>{{1,874},{322,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_box_reward.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,161}</string>
                <key>spriteSourceSize</key>
                <string>{171,161}</string>
                <key>textureRect</key>
                <string>{{453,661},{171,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_btn_tim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,97}</string>
                <key>spriteSourceSize</key>
                <string>{166,97}</string>
                <key>textureRect</key>
                <string>{{889,580},{166,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_reward1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,235}</string>
                <key>spriteSourceSize</key>
                <string>{218,235}</string>
                <key>textureRect</key>
                <string>{{632,654},{218,235}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_reward2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,201}</string>
                <key>spriteSourceSize</key>
                <string>{235,201}</string>
                <key>textureRect</key>
                <string>{{1,661},{235,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_reward3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,213}</string>
                <key>spriteSourceSize</key>
                <string>{208,213}</string>
                <key>textureRect</key>
                <string>{{238,661},{208,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_reward4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,255}</string>
                <key>spriteSourceSize</key>
                <string>{240,255}</string>
                <key>textureRect</key>
                <string>{{632,412},{240,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_reward_coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,379}</string>
                <key>spriteSourceSize</key>
                <string>{409,379}</string>
                <key>textureRect</key>
                <string>{{632,1},{409,379}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BonusGame.png</string>
            <key>size</key>
            <string>{1012,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a04f7c24204ae8b728351424c012876:84e013c64e15ae5dd52bbe30422e5473:4b1082bf83074dbeeda36548ecaabe80$</string>
            <key>textureFileName</key>
            <string>BonusGame.png</string>
        </dict>
    </dict>
</plist>
