<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slotmaya_account_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,23}</string>
                <key>spriteSourceSize</key>
                <string>{154,23}</string>
                <key>textureRect</key>
                <string>{{200,318},{154,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,81}</string>
                <key>spriteSourceSize</key>
                <string>{82,81}</string>
                <key>textureRect</key>
                <string>{{1151,419},{82,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_betvalue_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,23}</string>
                <key>spriteSourceSize</key>
                <string>{175,23}</string>
                <key>textureRect</key>
                <string>{{175,318},{175,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_button_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,47}</string>
                <key>spriteSourceSize</key>
                <string>{45,47}</string>
                <key>textureRect</key>
                <string>{{586,151},{45,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_button_xem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,56}</string>
                <key>spriteSourceSize</key>
                <string>{133,56}</string>
                <key>textureRect</key>
                <string>{{451,151},{133,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_chooseline_btn_all.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,80}</string>
                <key>spriteSourceSize</key>
                <string>{214,80}</string>
                <key>textureRect</key>
                <string>{{225,250},{214,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_chooseline_btn_deselect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,80}</string>
                <key>spriteSourceSize</key>
                <string>{214,80}</string>
                <key>textureRect</key>
                <string>{{287,1},{214,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_chooseline_btn_evenline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,80}</string>
                <key>spriteSourceSize</key>
                <string>{214,80}</string>
                <key>textureRect</key>
                <string>{{369,1},{214,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_chooseline_btn_oddline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,80}</string>
                <key>spriteSourceSize</key>
                <string>{214,80}</string>
                <key>textureRect</key>
                <string>{{307,242},{214,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_congratulation_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{562,83}</string>
                <key>spriteSourceSize</key>
                <string>{562,83}</string>
                <key>textureRect</key>
                <string>{{759,1},{562,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_freespin_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,33}</string>
                <key>spriteSourceSize</key>
                <string>{187,33}</string>
                <key>textureRect</key>
                <string>{{140,318},{187,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_history_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,83}</string>
                <key>spriteSourceSize</key>
                <string>{247,83}</string>
                <key>textureRect</key>
                <string>{{202,1},{247,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_line_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{42,361},{148,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_line_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{424,217},{148,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_line_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{485,367},{148,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_line_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{451,1},{148,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_line_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{549,1},{148,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_line_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{522,209},{148,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_line_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{620,200},{148,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_line_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{661,350},{148,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_line_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{718,195},{148,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_line_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{647,1},{148,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_line_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{759,345},{148,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_line_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{816,171},{148,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_line_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{857,321},{148,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_line_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{914,171},{148,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_line_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{955,321},{148,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_line_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{1012,171},{148,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_line_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{1053,321},{148,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_line_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{1110,171},{148,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_line_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{1208,171},{148,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_line_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,96}</string>
                <key>spriteSourceSize</key>
                <string>{148,96}</string>
                <key>textureRect</key>
                <string>{{1151,321},{148,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_lines_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,23}</string>
                <key>spriteSourceSize</key>
                <string>{89,23}</string>
                <key>textureRect</key>
                <string>{{570,465},{89,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_payline_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,22}</string>
                <key>spriteSourceSize</key>
                <string>{132,22}</string>
                <key>textureRect</key>
                <string>{{633,171},{132,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_presscontinue_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{462,29}</string>
                <key>spriteSourceSize</key>
                <string>{462,29}</string>
                <key>textureRect</key>
                <string>{{1,1},{462,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_reward_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,83}</string>
                <key>spriteSourceSize</key>
                <string>{315,83}</string>
                <key>textureRect</key>
                <string>{{117,1},{315,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_room_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,23}</string>
                <key>spriteSourceSize</key>
                <string>{94,23}</string>
                <key>textureRect</key>
                <string>{{389,446},{94,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_selectedline_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,83}</string>
                <key>spriteSourceSize</key>
                <string>{560,83}</string>
                <key>textureRect</key>
                <string>{{759,86},{560,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_session_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,23}</string>
                <key>spriteSourceSize</key>
                <string>{135,23}</string>
                <key>textureRect</key>
                <string>{{287,217},{135,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_time_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,22}</string>
                <key>spriteSourceSize</key>
                <string>{75,22}</string>
                <key>textureRect</key>
                <string>{{424,367},{75,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_top_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,83}</string>
                <key>spriteSourceSize</key>
                <string>{358,83}</string>
                <key>textureRect</key>
                <string>{{32,1},{358,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_totalwin_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,33}</string>
                <key>spriteSourceSize</key>
                <string>{202,33}</string>
                <key>textureRect</key>
                <string>{{389,242},{202,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_win_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,33}</string>
                <key>spriteSourceSize</key>
                <string>{111,33}</string>
                <key>textureRect</key>
                <string>{{457,471},{111,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_x_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,39}</string>
                <key>spriteSourceSize</key>
                <string>{42,39}</string>
                <key>textureRect</key>
                <string>{{1,465},{42,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_youvedone_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,33}</string>
                <key>spriteSourceSize</key>
                <string>{255,33}</string>
                <key>textureRect</key>
                <string>{{200,474},{255,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Dialog.png</string>
            <key>size</key>
            <string>{1322,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b1368f0f53cad74370c4f2a17d1a63b:d450d4667951069bfbc7b6de256b8be8:b538516d751734d9b4256c852b9460ee$</string>
            <key>textureFileName</key>
            <string>Dialog.png</string>
        </dict>
    </dict>
</plist>
