<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slotmaya_auto_roll_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,63}</string>
                <key>spriteSourceSize</key>
                <string>{204,63}</string>
                <key>textureRect</key>
                <string>{{84,1824},{204,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_auto_roll_btn_inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,26}</string>
                <key>spriteSourceSize</key>
                <string>{204,26}</string>
                <key>textureRect</key>
                <string>{{149,1824},{204,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_btn_cuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,109}</string>
                <key>spriteSourceSize</key>
                <string>{212,109}</string>
                <key>textureRect</key>
                <string>{{402,1027},{212,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_btn_dong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,111}</string>
                <key>spriteSourceSize</key>
                <string>{166,111}</string>
                <key>textureRect</key>
                <string>{{329,1567},{166,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_btn_dongy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,81}</string>
                <key>spriteSourceSize</key>
                <string>{214,81}</string>
                <key>textureRect</key>
                <string>{{1,1824},{214,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_btn_thang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,110}</string>
                <key>spriteSourceSize</key>
                <string>{251,110}</string>
                <key>textureRect</key>
                <string>{{247,1824},{251,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_btn_tongdat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,110}</string>
                <key>spriteSourceSize</key>
                <string>{251,110}</string>
                <key>textureRect</key>
                <string>{{247,1936},{251,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_casual_mark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,94}</string>
                <key>spriteSourceSize</key>
                <string>{128,94}</string>
                <key>textureRect</key>
                <string>{{274,1680},{128,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_disconnect_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,503}</string>
                <key>spriteSourceSize</key>
                <string>{1024,503}</string>
                <key>textureRect</key>
                <string>{{1,1},{1024,503}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_free_spin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,132}</string>
                <key>spriteSourceSize</key>
                <string>{167,132}</string>
                <key>textureRect</key>
                <string>{{335,1433},{167,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_free_spin_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{399,83}</string>
                <key>spriteSourceSize</key>
                <string>{399,83}</string>
                <key>textureRect</key>
                <string>{{1,1027},{399,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_golden_time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,347}</string>
                <key>spriteSourceSize</key>
                <string>{288,347}</string>
                <key>textureRect</key>
                <string>{{1,1112},{288,347}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_home_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,94}</string>
                <key>spriteSourceSize</key>
                <string>{151,94}</string>
                <key>textureRect</key>
                <string>{{350,1241},{151,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_info_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{68,72}</string>
                <key>textureRect</key>
                <string>{{177,1970},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_minigame_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,94}</string>
                <key>spriteSourceSize</key>
                <string>{151,94}</string>
                <key>textureRect</key>
                <string>{{350,1337},{151,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_ranking_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{68,72}</string>
                <key>textureRect</key>
                <string>{{370,1680},{68,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_roll_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,258}</string>
                <key>spriteSourceSize</key>
                <string>{271,258}</string>
                <key>textureRect</key>
                <string>{{1,1564},{271,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_sanbox_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,79}</string>
                <key>spriteSourceSize</key>
                <string>{332,79}</string>
                <key>textureRect</key>
                <string>{{1,1402},{332,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_sanbox_off_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,79}</string>
                <key>spriteSourceSize</key>
                <string>{332,79}</string>
                <key>textureRect</key>
                <string>{{1,1483},{332,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_setting_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{68,72}</string>
                <key>textureRect</key>
                <string>{{370,1750},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_setting_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{53,53}</string>
                <key>textureRect</key>
                <string>{{274,1564},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_setting_music.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,27}</string>
                <key>spriteSourceSize</key>
                <string>{36,27}</string>
                <key>textureRect</key>
                <string>{{350,1143},{36,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_setting_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,144}</string>
                <key>spriteSourceSize</key>
                <string>{62,144}</string>
                <key>textureRect</key>
                <string>{{177,1824},{62,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_setting_sound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,29}</string>
                <key>spriteSourceSize</key>
                <string>{38,29}</string>
                <key>textureRect</key>
                <string>{{350,1112},{38,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MainGames.png</string>
            <key>size</key>
            <string>{512,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78ae0087e4a29d016b7391e5b4c8371f:e7e854df43f7accd47f594394d351b54:743989ff9f901329b8c997dc011f6450$</string>
            <key>textureFileName</key>
            <string>MainGames.png</string>
        </dict>
    </dict>
</plist>
