<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slotmaya_Bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,229}</string>
                <key>spriteSourceSize</key>
                <string>{229,229}</string>
                <key>textureRect</key>
                <string>{{1,1172},{229,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_Jackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,229}</string>
                <key>spriteSourceSize</key>
                <string>{229,229}</string>
                <key>textureRect</key>
                <string>{{1,1403},{229,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_Scatter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,230}</string>
                <key>spriteSourceSize</key>
                <string>{229,230}</string>
                <key>textureRect</key>
                <string>{{1,941},{229,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotmaya_SymA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,233}</string>
                <key>spriteSourceSize</key>
                <string>{232,233}</string>
                <key>textureRect</key>
                <string>{{1,1},{232,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_SymB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,233}</string>
                <key>spriteSourceSize</key>
                <string>{232,233}</string>
                <key>textureRect</key>
                <string>{{1,236},{232,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_SymC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,233}</string>
                <key>spriteSourceSize</key>
                <string>{232,233}</string>
                <key>textureRect</key>
                <string>{{1,471},{232,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotmaya_SymD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,233}</string>
                <key>spriteSourceSize</key>
                <string>{232,233}</string>
                <key>textureRect</key>
                <string>{{1,706},{232,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SlotObjects.png</string>
            <key>size</key>
            <string>{234,1633}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16ecb562785b79c875cff4b63b86362c:24ae1a8dc9d68047ab612bb07e3ce543:0161a105e18067719bfb4cbc26c4141e$</string>
            <key>textureFileName</key>
            <string>SlotObjects.png</string>
        </dict>
    </dict>
</plist>
