<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slothero_bonus_complete_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,749}</string>
                <key>spriteSourceSize</key>
                <string>{570,749}</string>
                <key>textureRect</key>
                <string>{{1,79},{570,749}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slothero_bonus_multiply.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,115}</string>
                <key>spriteSourceSize</key>
                <string>{264,115}</string>
                <key>textureRect</key>
                <string>{{1718,1021},{264,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slothero_bonus_playtime.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,115}</string>
                <key>spriteSourceSize</key>
                <string>{264,115}</string>
                <key>textureRect</key>
                <string>{{1905,1},{264,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slothero_bonus_rewardPanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,115}</string>
                <key>spriteSourceSize</key>
                <string>{282,115}</string>
                <key>textureRect</key>
                <string>{{1595,512},{282,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slothero_btn_choi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,97}</string>
                <key>spriteSourceSize</key>
                <string>{274,97}</string>
                <key>textureRect</key>
                <string>{{1194,1056},{274,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slothero_congratulations_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{495,74}</string>
                <key>spriteSourceSize</key>
                <string>{495,74}</string>
                <key>textureRect</key>
                <string>{{1382,1},{495,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slothero_genie1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{363,353}</string>
                <key>spriteSourceSize</key>
                <string>{363,363}</string>
                <key>textureRect</key>
                <string>{{573,157},{363,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slothero_genie2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{363,353}</string>
                <key>spriteSourceSize</key>
                <string>{363,363}</string>
                <key>textureRect</key>
                <string>{{938,157},{363,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slothero_genie3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{363,353}</string>
                <key>spriteSourceSize</key>
                <string>{363,363}</string>
                <key>textureRect</key>
                <string>{{1303,157},{363,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slothero_genie_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1129,76}</string>
                <key>spriteSourceSize</key>
                <string>{1129,76}</string>
                <key>textureRect</key>
                <string>{{573,79},{1129,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slothero_pickitem_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1379,76}</string>
                <key>spriteSourceSize</key>
                <string>{1379,76}</string>
                <key>textureRect</key>
                <string>{{1,1},{1379,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slothero_treasure1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,290}</string>
                <key>spriteSourceSize</key>
                <string>{345,290}</string>
                <key>textureRect</key>
                <string>{{573,512},{345,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slothero_treasure10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,297}</string>
                <key>spriteSourceSize</key>
                <string>{206,297}</string>
                <key>textureRect</key>
                <string>{{1510,796},{206,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slothero_treasure11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,327}</string>
                <key>spriteSourceSize</key>
                <string>{268,327}</string>
                <key>textureRect</key>
                <string>{{365,830},{268,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slothero_treasure12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,276}</string>
                <key>spriteSourceSize</key>
                <string>{294,276}</string>
                <key>textureRect</key>
                <string>{{1712,466},{294,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slothero_treasure2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,362}</string>
                <key>spriteSourceSize</key>
                <string>{323,362}</string>
                <key>textureRect</key>
                <string>{{1,830},{323,362}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slothero_treasure3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,334}</string>
                <key>spriteSourceSize</key>
                <string>{280,334}</string>
                <key>textureRect</key>
                <string>{{1259,512},{280,334}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slothero_treasure4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,260}</string>
                <key>spriteSourceSize</key>
                <string>{314,260}</string>
                <key>textureRect</key>
                <string>{{1194,794},{314,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slothero_treasure5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,278}</string>
                <key>spriteSourceSize</key>
                <string>{337,278}</string>
                <key>textureRect</key>
                <string>{{920,512},{337,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slothero_treasure6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,235}</string>
                <key>spriteSourceSize</key>
                <string>{307,235}</string>
                <key>textureRect</key>
                <string>{{1668,157},{307,235}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slothero_treasure7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,257}</string>
                <key>spriteSourceSize</key>
                <string>{257,257}</string>
                <key>textureRect</key>
                <string>{{1718,762},{257,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slothero_treasure8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,254}</string>
                <key>spriteSourceSize</key>
                <string>{330,254}</string>
                <key>textureRect</key>
                <string>{{938,792},{330,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slothero_treasure9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,301}</string>
                <key>spriteSourceSize</key>
                <string>{309,301}</string>
                <key>textureRect</key>
                <string>{{635,804},{309,301}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slothero_yougot_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,27}</string>
                <key>spriteSourceSize</key>
                <string>{163,27}</string>
                <key>textureRect</key>
                <string>{{635,1115},{163,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bonus.png</string>
            <key>size</key>
            <string>{2021,1158}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3195122144c44b07b447634efbaf32f9:0e67a48e5f83d54019c971efe07a697f:3b08c443b96b58bab97de9c99f8829ea$</string>
            <key>textureFileName</key>
            <string>bonus.png</string>
        </dict>
    </dict>
</plist>
