<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slothero_auto_roll_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,152}</string>
                <key>spriteSourceSize</key>
                <string>{305,152}</string>
                <key>textureRect</key>
                <string>{{277,1},{305,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slothero_auto_roll_btn_inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,152}</string>
                <key>spriteSourceSize</key>
                <string>{305,152}</string>
                <key>textureRect</key>
                <string>{{681,344},{305,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slothero_bet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,152}</string>
                <key>spriteSourceSize</key>
                <string>{204,152}</string>
                <key>textureRect</key>
                <string>{{988,327},{204,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slothero_betrange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,65}</string>
                <key>spriteSourceSize</key>
                <string>{67,65}</string>
                <key>textureRect</key>
                <string>{{1277,388},{67,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slothero_bg_credit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,101}</string>
                <key>spriteSourceSize</key>
                <string>{372,101}</string>
                <key>textureRect</key>
                <string>{{1,381},{372,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slothero_free_spin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,148}</string>
                <key>spriteSourceSize</key>
                <string>{206,148}</string>
                <key>textureRect</key>
                <string>{{1189,155},{206,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slothero_free_spin_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{532,99}</string>
                <key>spriteSourceSize</key>
                <string>{532,99}</string>
                <key>textureRect</key>
                <string>{{1,280},{532,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slothero_golden_time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,253}</string>
                <key>textureRect</key>
                <string>{{934,155},{170,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slothero_home_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,89}</string>
                <key>spriteSourceSize</key>
                <string>{199,89}</string>
                <key>textureRect</key>
                <string>{{535,253},{199,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slothero_icon_casualmark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,89}</string>
                <key>spriteSourceSize</key>
                <string>{140,89}</string>
                <key>textureRect</key>
                <string>{{736,246},{140,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slothero_icon_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,81}</string>
                <key>spriteSourceSize</key>
                <string>{82,81}</string>
                <key>textureRect</key>
                <string>{{1194,305},{82,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slothero_icon_ranking.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,81}</string>
                <key>spriteSourceSize</key>
                <string>{82,81}</string>
                <key>textureRect</key>
                <string>{{1194,389},{82,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slothero_icon_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,81}</string>
                <key>spriteSourceSize</key>
                <string>{82,81}</string>
                <key>textureRect</key>
                <string>{{1277,305},{82,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slothero_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,152}</string>
                <key>spriteSourceSize</key>
                <string>{194,152}</string>
                <key>textureRect</key>
                <string>{{1198,1},{194,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slothero_minigame_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,89}</string>
                <key>spriteSourceSize</key>
                <string>{199,89}</string>
                <key>textureRect</key>
                <string>{{583,155},{199,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slothero_roll_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,0}</string>
                <key>spriteSize</key>
                <string>{277,274}</string>
                <key>spriteSourceSize</key>
                <string>{315,274}</string>
                <key>textureRect</key>
                <string>{{1,1},{277,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slothero_sandbox_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,96}</string>
                <key>spriteSourceSize</key>
                <string>{304,96}</string>
                <key>textureRect</key>
                <string>{{375,381},{304,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slothero_sandbox_off_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,96}</string>
                <key>spriteSourceSize</key>
                <string>{304,96}</string>
                <key>textureRect</key>
                <string>{{277,155},{304,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slothero_setting_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,56}</string>
                <key>spriteSourceSize</key>
                <string>{57,56}</string>
                <key>textureRect</key>
                <string>{{1344,388},{57,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slothero_setting_music.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,29}</string>
                <key>spriteSourceSize</key>
                <string>{38,29}</string>
                <key>textureRect</key>
                <string>{{577,344},{38,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slothero_setting_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,148}</string>
                <key>spriteSourceSize</key>
                <string>{66,148}</string>
                <key>textureRect</key>
                <string>{{784,155},{66,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slothero_setting_sound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,31}</string>
                <key>spriteSourceSize</key>
                <string>{40,31}</string>
                <key>textureRect</key>
                <string>{{535,344},{40,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slothero_total.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,152}</string>
                <key>spriteSourceSize</key>
                <string>{305,152}</string>
                <key>textureRect</key>
                <string>{{584,1},{305,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slothero_win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,152}</string>
                <key>spriteSourceSize</key>
                <string>{305,152}</string>
                <key>textureRect</key>
                <string>{{891,1},{305,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MainGame.png</string>
            <key>size</key>
            <string>{1401,497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cdf123f69047d199c1f38c29c2f4af7:e6341fc5e7b65e0a9fc294e6c63727fb:9effdc64893a37702941da4b39f0cf11$</string>
            <key>textureFileName</key>
            <string>MainGame.png</string>
        </dict>
    </dict>
</plist>
