<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sym_Bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,211}</string>
                <key>spriteSourceSize</key>
                <string>{213,211}</string>
                <key>textureRect</key>
                <string>{{205,1},{213,211}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sym_Jackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,210}</string>
                <key>spriteSourceSize</key>
                <string>{207,210}</string>
                <key>textureRect</key>
                <string>{{1,371},{207,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sym_Scatter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,210}</string>
                <key>spriteSourceSize</key>
                <string>{207,210}</string>
                <key>textureRect</key>
                <string>{{418,1},{207,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sym_SymA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,181}</string>
                <key>spriteSourceSize</key>
                <string>{188,181}</string>
                <key>textureRect</key>
                <string>{{617,381},{188,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sym_SymB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,136}</string>
                <key>spriteSourceSize</key>
                <string>{188,136}</string>
                <key>textureRect</key>
                <string>{{205,216},{188,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sym_SymC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,181}</string>
                <key>spriteSourceSize</key>
                <string>{189,181}</string>
                <key>textureRect</key>
                <string>{{426,213},{189,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sym_SymD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,155}</string>
                <key>spriteSourceSize</key>
                <string>{188,155}</string>
                <key>textureRect</key>
                <string>{{800,381},{188,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sym_SymE.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,181}</string>
                <key>spriteSourceSize</key>
                <string>{188,181}</string>
                <key>textureRect</key>
                <string>{{426,396},{188,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sym_SymF.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,188}</string>
                <key>spriteSourceSize</key>
                <string>{188,188}</string>
                <key>textureRect</key>
                <string>{{627,191},{188,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sym_SymG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,191}</string>
                <key>spriteSourceSize</key>
                <string>{188,191}</string>
                <key>textureRect</key>
                <string>{{627,1},{188,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sym_Wild.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,211}</string>
                <key>spriteSourceSize</key>
                <string>{213,211}</string>
                <key>textureRect</key>
                <string>{{213,354},{213,211}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slothero_roll_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{368,202}</string>
                <key>spriteSourceSize</key>
                <string>{368,208}</string>
                <key>textureRect</key>
                <string>{{1,1},{368,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SlotObject.png</string>
            <key>size</key>
            <string>{956,579}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c801ac144412d5771a319bcc11d8036:677b15430f1396eaafdf16725e5663d2:89b0b0fca6d26c0dab3f1ba37a6bc76b$</string>
            <key>textureFileName</key>
            <string>SlotObject.png</string>
        </dict>
    </dict>
</plist>
