<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>home_floatButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{163,503},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_floatCaoThap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,144}</string>
                <key>spriteSourceSize</key>
                <string>{176,144}</string>
                <key>textureRect</key>
                <string>{{1,704},{176,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_floatDownLoad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{53,61}</string>
                <key>spriteSourceSize</key>
                <string>{57,63}</string>
                <key>textureRect</key>
                <string>{{335,790},{53,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_floatExpandedBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_floatMinipoker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,160}</string>
                <key>spriteSourceSize</key>
                <string>{199,160}</string>
                <key>textureRect</key>
                <string>{{1,503},{199,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_floatPhucSinh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,156}</string>
                <key>spriteSourceSize</key>
                <string>{140,156}</string>
                <key>textureRect</key>
                <string>{{329,503},{140,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_floatTaiXiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,166}</string>
                <key>spriteSourceSize</key>
                <string>{154,166}</string>
                <key>textureRect</key>
                <string>{{179,669},{154,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_floatTuLinh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{127,165}</string>
                <key>spriteSourceSize</key>
                <string>{139,165}</string>
                <key>textureRect</key>
                <string>{{335,661},{127,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FloatButton.png</string>
            <key>size</key>
            <string>{502,849}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ac8bdf980f4cc5ab75107726b357ccb:d1a69bf49d2ba1152ea6f3d162bd618d:8cd5d5a3633d7f2a3323ac799373e321$</string>
            <key>textureFileName</key>
            <string>FloatButton.png</string>
        </dict>
    </dict>
</plist>
