<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_big_new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1028,1042}</string>
                <key>spriteSourceSize</key>
                <string>{1028,1042}</string>
                <key>textureRect</key>
                <string>{{1,1},{1028,1042}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_input_field.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,88}</string>
                <key>spriteSourceSize</key>
                <string>{70,88}</string>
                <key>textureRect</key>
                <string>{{1906,1036},{70,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_list_jackpot_hv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,121}</string>
                <key>spriteSourceSize</key>
                <string>{280,121}</string>
                <key>textureRect</key>
                <string>{{1275,1031},{280,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_small_new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{615,615}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{1,1045},{615,615}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_tophu_new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{528,666}</string>
                <key>spriteSourceSize</key>
                <string>{532,668}</string>
                <key>textureRect</key>
                <string>{{1031,1},{528,666}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_spin_vqmm_new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,258}</string>
                <key>spriteSourceSize</key>
                <string>{237,258}</string>
                <key>textureRect</key>
                <string>{{1036,1031},{237,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate_avatar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{1084,1291},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate_bg_btn_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{564,151}</string>
                <key>spriteSourceSize</key>
                <string>{564,151}</string>
                <key>textureRect</key>
                <string>{{1405,669},{564,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gate_bg_coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,94}</string>
                <key>spriteSourceSize</key>
                <string>{424,94}</string>
                <key>textureRect</key>
                <string>{{1558,1111},{424,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate_btn_daily.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,89}</string>
                <key>spriteSourceSize</key>
                <string>{89,89}</string>
                <key>textureRect</key>
                <string>{{1818,1427},{89,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate_btn_facebook.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,96}</string>
                <key>spriteSourceSize</key>
                <string>{90,96}</string>
                <key>textureRect</key>
                <string>{{1389,1585},{90,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate_btn_gift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,157}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{1522,1346},{157,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate_btn_luckywheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,157}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{1722,1268},{157,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate_btn_mail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,96}</string>
                <key>spriteSourceSize</key>
                <string>{90,96}</string>
                <key>textureRect</key>
                <string>{{1661,1585},{90,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate_btn_naptien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,70}</string>
                <key>spriteSourceSize</key>
                <string>{66,70}</string>
                <key>textureRect</key>
                <string>{{1655,1513},{66,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate_btn_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,96}</string>
                <key>spriteSourceSize</key>
                <string>{90,96}</string>
                <key>textureRect</key>
                <string>{{1766,1518},{90,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gate_btn_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,96}</string>
                <key>spriteSourceSize</key>
                <string>{90,96}</string>
                <key>textureRect</key>
                <string>{{1864,1518},{90,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate_btn_support.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,98}</string>
                <key>spriteSourceSize</key>
                <string>{116,98}</string>
                <key>textureRect</key>
                <string>{{966,1335},{116,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate_btn_tophu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,89}</string>
                <key>spriteSourceSize</key>
                <string>{89,89}</string>
                <key>textureRect</key>
                <string>{{1909,1424},{89,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate_btn_vip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{1095,1433},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate_dot_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{1036,1291},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate_dot_deactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{1036,1313},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate_money_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,91}</string>
                <key>spriteSourceSize</key>
                <string>{94,91}</string>
                <key>textureRect</key>
                <string>{{1293,1590},{94,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_btn_chuyentien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,84}</string>
                <key>spriteSourceSize</key>
                <string>{135,84}</string>
                <key>textureRect</key>
                <string>{{1681,1427},{135,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_btn_dangky.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{275,87}</string>
                <key>spriteSourceSize</key>
                <string>{277,91}</string>
                <key>textureRect</key>
                <string>{{1906,759},{275,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_btn_dangnhap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{275,87}</string>
                <key>spriteSourceSize</key>
                <string>{277,91}</string>
                <key>textureRect</key>
                <string>{{1293,1313},{275,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_dialog_luckytextbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{1226,1291},{64,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_tophu_bg_tab_header.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{475,84}</string>
                <key>spriteSourceSize</key>
                <string>{479,86}</string>
                <key>textureRect</key>
                <string>{{1913,278},{475,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_tophu_effect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,59}</string>
                <key>spriteSourceSize</key>
                <string>{396,59}</string>
                <key>textureRect</key>
                <string>{{1558,1207},{396,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_tophu_tab_header_active1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{154,75}</string>
                <key>spriteSourceSize</key>
                <string>{158,77}</string>
                <key>textureRect</key>
                <string>{{1398,1235},{154,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_tophu_tab_header_active2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{166,76}</string>
                <key>spriteSourceSize</key>
                <string>{170,78}</string>
                <key>textureRect</key>
                <string>{{1554,1268},{166,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_tophu_tab_header_active3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{154,75}</string>
                <key>spriteSourceSize</key>
                <string>{158,77}</string>
                <key>textureRect</key>
                <string>{{1881,1268},{154,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_vpmm_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,131}</string>
                <key>spriteSourceSize</key>
                <string>{86,131}</string>
                <key>textureRect</key>
                <string>{{1522,1505},{86,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_vqmm_bg_captcha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,475}</string>
                <key>spriteSourceSize</key>
                <string>{186,475}</string>
                <key>textureRect</key>
                <string>{{618,1435},{186,475}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_vqmm_bg_result_captcha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,68}</string>
                <key>spriteSourceSize</key>
                <string>{288,68}</string>
                <key>textureRect</key>
                <string>{{966,1045},{288,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_vqmm_input_captcha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,67}</string>
                <key>spriteSourceSize</key>
                <string>{270,67}</string>
                <key>textureRect</key>
                <string>{{1382,1313},{270,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_vqmm_spin_captcha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,58}</string>
                <key>spriteSourceSize</key>
                <string>{180,60}</string>
                <key>textureRect</key>
                <string>{{618,1623},{178,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{798,1623},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_circle_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{1451,1521},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_key.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,45}</string>
                <key>spriteSourceSize</key>
                <string>{44,45}</string>
                <key>textureRect</key>
                <string>{{849,1623},{44,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_people.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,54}</string>
                <key>spriteSourceSize</key>
                <string>{41,54}</string>
                <key>textureRect</key>
                <string>{{1723,1513},{41,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_slotgame_hauvuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{350,368}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1561,389},{350,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_slotgame_keongot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-19}</string>
                <key>spriteSize</key>
                <string>{346,350}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1558,759},{346,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_slotgame_maya.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{372,360}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1031,669},{372,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_slotgame_treasurehunter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{346,388}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{618,1045},{346,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_slotgame_womenagent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{342,386}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1561,1},{342,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>list_jp_line1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,4}</string>
                <key>spriteSourceSize</key>
                <string>{129,4}</string>
                <key>textureRect</key>
                <string>{{1,1662},{129,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>list_jp_line2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,3}</string>
                <key>spriteSourceSize</key>
                <string>{129,3}</string>
                <key>textureRect</key>
                <string>{{1995,1},{129,3}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>login_btn_facebook.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{1481,1593},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_btn_google.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{1571,1593},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_btn_phoneNumber.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,88}</string>
                <key>spriteSourceSize</key>
                <string>{277,90}</string>
                <key>textureRect</key>
                <string>{{1905,1},{275,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tophu_seperate_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,2}</string>
                <key>spriteSourceSize</key>
                <string>{63,2}</string>
                <key>textureRect</key>
                <string>{{1913,755},{63,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tophu_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{207,69}</string>
                <key>spriteSourceSize</key>
                <string>{209,71}</string>
                <key>textureRect</key>
                <string>{{1451,1312},{207,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>home_texture_new.png</string>
            <key>size</key>
            <string>{1999,1682}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad1be75ebecee4ec648f778a8fa7263c:3dcbe4637efeafb7fdadb6147d014765:60f68bf5bc23e228728ededf72f9375b$</string>
            <key>textureFileName</key>
            <string>home_texture_new.png</string>
        </dict>
    </dict>
</plist>
