<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>home_vip_btn_nhanthuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,92}</string>
                <key>spriteSourceSize</key>
                <string>{283,94}</string>
                <key>textureRect</key>
                <string>{{1,313},{281,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_bluediamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,60}</string>
                <key>spriteSourceSize</key>
                <string>{81,60}</string>
                <key>textureRect</key>
                <string>{{284,313},{81,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_boder_vip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,310}</string>
                <key>spriteSourceSize</key>
                <string>{293,310}</string>
                <key>textureRect</key>
                <string>{{1,1},{293,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_diamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,60}</string>
                <key>spriteSourceSize</key>
                <string>{81,60}</string>
                <key>textureRect</key>
                <string>{{1,407},{81,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_emeral.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,73}</string>
                <key>spriteSourceSize</key>
                <string>{68,73}</string>
                <key>textureRect</key>
                <string>{{284,396},{68,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_kingdiamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,60}</string>
                <key>spriteSourceSize</key>
                <string>{81,60}</string>
                <key>textureRect</key>
                <string>{{84,407},{81,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_royaldiamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,60}</string>
                <key>spriteSourceSize</key>
                <string>{81,60}</string>
                <key>textureRect</key>
                <string>{{167,407},{81,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_ruby.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,71}</string>
                <key>spriteSourceSize</key>
                <string>{64,71}</string>
                <key>textureRect</key>
                <string>{{296,75},{64,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_sapphire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,71}</string>
                <key>spriteSourceSize</key>
                <string>{64,71}</string>
                <key>textureRect</key>
                <string>{{296,148},{64,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_topaz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,72}</string>
                <key>spriteSourceSize</key>
                <string>{64,72}</string>
                <key>textureRect</key>
                <string>{{296,1},{64,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>profile_texture.png</string>
            <key>size</key>
            <string>{361,468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f981fe9e5f06d09e2d128f40a20efce:7199776551acb216f85a1f73e3057f04:516f02ba48e4bd8b2d4c6b7f074ba049$</string>
            <key>textureFileName</key>
            <string>profile_texture.png</string>
        </dict>
    </dict>
</plist>
