<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slotaladdin_bonus_complete_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{596,745}</string>
                <key>spriteSourceSize</key>
                <string>{596,745}</string>
                <key>textureRect</key>
                <string>{{1,1},{596,745}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_bonus_multiply.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,126}</string>
                <key>spriteSourceSize</key>
                <string>{258,126}</string>
                <key>textureRect</key>
                <string>{{1556,850},{258,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotaladdin_bonus_playtime.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,126}</string>
                <key>spriteSourceSize</key>
                <string>{258,126}</string>
                <key>textureRect</key>
                <string>{{476,1493},{258,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_bonus_rewardPanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,126}</string>
                <key>spriteSourceSize</key>
                <string>{282,126}</string>
                <key>textureRect</key>
                <string>{{1229,1319},{282,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_btn_choi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,97}</string>
                <key>spriteSourceSize</key>
                <string>{274,97}</string>
                <key>textureRect</key>
                <string>{{1271,949},{274,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotaladdin_congratulations_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,95}</string>
                <key>spriteSourceSize</key>
                <string>{358,95}</string>
                <key>textureRect</key>
                <string>{{1,1540},{358,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_genie1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{473,790}</string>
                <key>spriteSourceSize</key>
                <string>{473,790}</string>
                <key>textureRect</key>
                <string>{{1,748},{473,790}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_genie2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{472,790}</string>
                <key>spriteSourceSize</key>
                <string>{472,790}</string>
                <key>textureRect</key>
                <string>{{599,1},{472,790}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotaladdin_genie3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{472,790}</string>
                <key>spriteSourceSize</key>
                <string>{472,790}</string>
                <key>textureRect</key>
                <string>{{599,475},{472,790}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotaladdin_genie_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{847,124}</string>
                <key>spriteSourceSize</key>
                <string>{847,124}</string>
                <key>textureRect</key>
                <string>{{1556,1},{847,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotaladdin_pickitem_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{793,134}</string>
                <key>spriteSourceSize</key>
                <string>{793,134}</string>
                <key>textureRect</key>
                <string>{{476,949},{793,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_shootboss_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1066,163}</string>
                <key>spriteSourceSize</key>
                <string>{1066,163}</string>
                <key>textureRect</key>
                <string>{{1391,1},{1066,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotaladdin_treasure1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,163}</string>
                <key>spriteSourceSize</key>
                <string>{250,163}</string>
                <key>textureRect</key>
                <string>{{736,1466},{250,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_treasure10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,175}</string>
                <key>spriteSourceSize</key>
                <string>{248,175}</string>
                <key>textureRect</key>
                <string>{{979,1271},{248,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_treasure11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,200}</string>
                <key>spriteSourceSize</key>
                <string>{249,200}</string>
                <key>textureRect</key>
                <string>{{476,1291},{249,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_treasure12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,166}</string>
                <key>spriteSourceSize</key>
                <string>{249,166}</string>
                <key>textureRect</key>
                <string>{{988,1448},{249,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_treasure2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,157}</string>
                <key>spriteSourceSize</key>
                <string>{249,157}</string>
                <key>textureRect</key>
                <string>{{1513,1362},{249,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotaladdin_treasure3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,148}</string>
                <key>spriteSourceSize</key>
                <string>{250,148}</string>
                <key>textureRect</key>
                <string>{{1536,1110},{250,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotaladdin_treasure4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,164}</string>
                <key>spriteSourceSize</key>
                <string>{248,164}</string>
                <key>textureRect</key>
                <string>{{1370,1069},{248,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotaladdin_treasure5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,159}</string>
                <key>spriteSourceSize</key>
                <string>{249,159}</string>
                <key>textureRect</key>
                <string>{{1239,1447},{249,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_treasure6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,204}</string>
                <key>spriteSourceSize</key>
                <string>{249,204}</string>
                <key>textureRect</key>
                <string>{{476,1085},{249,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_treasure7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,179}</string>
                <key>spriteSourceSize</key>
                <string>{250,179}</string>
                <key>textureRect</key>
                <string>{{727,1285},{250,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_treasure8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,198}</string>
                <key>spriteSourceSize</key>
                <string>{249,198}</string>
                <key>textureRect</key>
                <string>{{727,1085},{249,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_treasure9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,184}</string>
                <key>spriteSourceSize</key>
                <string>{250,184}</string>
                <key>textureRect</key>
                <string>{{978,1085},{250,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_yougot_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,27}</string>
                <key>spriteSourceSize</key>
                <string>{161,27}</string>
                <key>textureRect</key>
                <string>{{1239,1608},{161,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BonusGame.png</string>
            <key>size</key>
            <string>{1685,1636}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:275de729a6ea2b9a097f44b6f7a2050b:17ab6dbdcc807ff94889524b1ba6d7d5:4b1082bf83074dbeeda36548ecaabe80$</string>
            <key>textureFileName</key>
            <string>BonusGame.png</string>
        </dict>
    </dict>
</plist>
