<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slotaladdin_account_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,53}</string>
                <key>spriteSourceSize</key>
                <string>{116,53}</string>
                <key>textureRect</key>
                <string>{{1776,639},{116,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotaladdin_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,81}</string>
                <key>spriteSourceSize</key>
                <string>{73,81}</string>
                <key>textureRect</key>
                <string>{{1707,273},{73,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_betline_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,58}</string>
                <key>spriteSourceSize</key>
                <string>{77,58}</string>
                <key>textureRect</key>
                <string>{{1776,854},{77,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_betvalue_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,53}</string>
                <key>spriteSourceSize</key>
                <string>{142,53}</string>
                <key>textureRect</key>
                <string>{{1674,458},{142,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_button_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,41}</string>
                <key>spriteSourceSize</key>
                <string>{42,41}</string>
                <key>textureRect</key>
                <string>{{1806,187},{42,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_button_xem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,51}</string>
                <key>spriteSourceSize</key>
                <string>{120,51}</string>
                <key>textureRect</key>
                <string>{{1806,1},{120,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotaladdin_congratulation_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,95}</string>
                <key>spriteSourceSize</key>
                <string>{358,95}</string>
                <key>textureRect</key>
                <string>{{1610,1},{358,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotaladdin_dialog_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1607,917}</string>
                <key>spriteSourceSize</key>
                <string>{1607,917}</string>
                <key>textureRect</key>
                <string>{{1,1},{1607,917}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_history_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,95}</string>
                <key>spriteSourceSize</key>
                <string>{184,95}</string>
                <key>textureRect</key>
                <string>{{1674,361},{184,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_jackpots_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,61}</string>
                <key>spriteSourceSize</key>
                <string>{125,61}</string>
                <key>textureRect</key>
                <string>{{1674,513},{125,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_payline_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,61}</string>
                <key>spriteSourceSize</key>
                <string>{123,61}</string>
                <key>textureRect</key>
                <string>{{1674,576},{123,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_presstocontinue.png.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,62}</string>
                <key>spriteSourceSize</key>
                <string>{300,62}</string>
                <key>textureRect</key>
                <string>{{1610,361},{300,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotaladdin_room_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,56}</string>
                <key>spriteSourceSize</key>
                <string>{95,56}</string>
                <key>textureRect</key>
                <string>{{1776,757},{95,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotaladdin_time_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,54}</string>
                <key>spriteSourceSize</key>
                <string>{83,54}</string>
                <key>textureRect</key>
                <string>{{1782,273},{83,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotaladdin_topwinner_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,97}</string>
                <key>spriteSourceSize</key>
                <string>{270,97}</string>
                <key>textureRect</key>
                <string>{{1707,1},{270,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotaladdin_win_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,47}</string>
                <key>spriteSourceSize</key>
                <string>{62,47}</string>
                <key>textureRect</key>
                <string>{{1806,123},{62,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotaladdin_x_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,37}</string>
                <key>spriteSourceSize</key>
                <string>{40,37}</string>
                <key>textureRect</key>
                <string>{{1818,458},{40,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladin_golden_time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,255}</string>
                <key>spriteSourceSize</key>
                <string>{164,255}</string>
                <key>textureRect</key>
                <string>{{1610,663},{164,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Dialog.png</string>
            <key>size</key>
            <string>{1859,919}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc98ae364a1bf1fcf0e335f172a9e109:fbcb06fc8641305ecf9851d2e79ca6aa:b538516d751734d9b4256c852b9460ee$</string>
            <key>textureFileName</key>
            <string>Dialog.png</string>
        </dict>
    </dict>
</plist>
