<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slotaladdin_auto_roll_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,120}</string>
                <key>spriteSourceSize</key>
                <string>{295,120}</string>
                <key>textureRect</key>
                <string>{{410,626},{295,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotaladdin_auto_roll_btn_inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,120}</string>
                <key>spriteSourceSize</key>
                <string>{295,120}</string>
                <key>textureRect</key>
                <string>{{714,332},{295,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotaladdin_bet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,120}</string>
                <key>spriteSourceSize</key>
                <string>{228,120}</string>
                <key>textureRect</key>
                <string>{{208,1299},{228,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotaladdin_bg_credit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,68}</string>
                <key>spriteSourceSize</key>
                <string>{355,68}</string>
                <key>textureRect</key>
                <string>{{340,626},{355,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotaladdin_free_spin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,145}</string>
                <key>spriteSourceSize</key>
                <string>{185,145}</string>
                <key>textureRect</key>
                <string>{{560,1373},{185,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_free_spin_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{566,71}</string>
                <key>spriteSourceSize</key>
                <string>{566,71}</string>
                <key>textureRect</key>
                <string>{{267,626},{566,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotaladdin_golden_time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,255}</string>
                <key>spriteSourceSize</key>
                <string>{164,255}</string>
                <key>textureRect</key>
                <string>{{548,332},{164,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_golden_time_x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,55}</string>
                <key>spriteSourceSize</key>
                <string>{69,55}</string>
                <key>textureRect</key>
                <string>{{762,837},{69,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_golden_time_x3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,55}</string>
                <key>spriteSourceSize</key>
                <string>{69,55}</string>
                <key>textureRect</key>
                <string>{{747,1358},{69,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_golden_time_x4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,55}</string>
                <key>spriteSourceSize</key>
                <string>{69,55}</string>
                <key>textureRect</key>
                <string>{{747,1415},{69,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_golden_time_x5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,55}</string>
                <key>spriteSourceSize</key>
                <string>{69,55}</string>
                <key>textureRect</key>
                <string>{{747,1472},{69,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_golden_time_x6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,55}</string>
                <key>spriteSourceSize</key>
                <string>{70,55}</string>
                <key>textureRect</key>
                <string>{{267,1194},{70,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotaladdin_home_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,94}</string>
                <key>spriteSourceSize</key>
                <string>{206,94}</string>
                <key>textureRect</key>
                <string>{{762,629},{206,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotaladdin_icon_casualmark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,94}</string>
                <key>spriteSourceSize</key>
                <string>{124,94}</string>
                <key>textureRect</key>
                <string>{{689,926},{124,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotaladdin_icon_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{689,1052},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_icon_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{736,1154},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_lamp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,174}</string>
                <key>spriteSourceSize</key>
                <string>{195,174}</string>
                <key>textureRect</key>
                <string>{{560,1176},{195,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotaladdin_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,120}</string>
                <key>spriteSourceSize</key>
                <string>{228,120}</string>
                <key>textureRect</key>
                <string>{{340,983},{228,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotaladdin_minigame_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,94}</string>
                <key>spriteSourceSize</key>
                <string>{206,94}</string>
                <key>textureRect</key>
                <string>{{462,1080},{206,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_pillow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,220}</string>
                <key>spriteSourceSize</key>
                <string>{329,220}</string>
                <key>textureRect</key>
                <string>{{548,1},{329,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotaladdin_roll_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,205}</string>
                <key>spriteSourceSize</key>
                <string>{245,205}</string>
                <key>textureRect</key>
                <string>{{1,1299},{245,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotaladdin_sandbox_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,106}</string>
                <key>spriteSourceSize</key>
                <string>{298,106}</string>
                <key>textureRect</key>
                <string>{{532,626},{298,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotaladdin_sandbox_off_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,106}</string>
                <key>spriteSourceSize</key>
                <string>{298,106}</string>
                <key>textureRect</key>
                <string>{{452,1213},{298,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotaladdin_setting_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{53,53}</string>
                <key>textureRect</key>
                <string>{{785,894},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_setting_music.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,29}</string>
                <key>spriteSourceSize</key>
                <string>{24,29}</string>
                <key>textureRect</key>
                <string>{{548,589},{24,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_setting_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,132}</string>
                <key>spriteSourceSize</key>
                <string>{87,132}</string>
                <key>textureRect</key>
                <string>{{770,192},{87,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_setting_sound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,27}</string>
                <key>spriteSourceSize</key>
                <string>{21,27}</string>
                <key>textureRect</key>
                <string>{{762,894},{21,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_smoke_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,152}</string>
                <key>spriteSourceSize</key>
                <string>{225,152}</string>
                <key>textureRect</key>
                <string>{{462,926},{225,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_smoke_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,189}</string>
                <key>spriteSourceSize</key>
                <string>{82,189}</string>
                <key>textureRect</key>
                <string>{{770,1},{82,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_total.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,120}</string>
                <key>spriteSourceSize</key>
                <string>{295,120}</string>
                <key>textureRect</key>
                <string>{{640,629},{295,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotaladdin_total_reward_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1296,264}</string>
                <key>spriteSourceSize</key>
                <string>{1296,264}</string>
                <key>textureRect</key>
                <string>{{1,1},{1296,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotaladdin_win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,120}</string>
                <key>spriteSourceSize</key>
                <string>{295,120}</string>
                <key>textureRect</key>
                <string>{{330,1213},{295,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slotaladdingenie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,623}</string>
                <key>spriteSourceSize</key>
                <string>{279,623}</string>
                <key>textureRect</key>
                <string>{{267,1},{279,623}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotaladdin_icon_ranking.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{736,1256},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MainGame.png</string>
            <key>size</key>
            <string>{858,1545}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:faf0a95add5a88c32a158e943f37f5f9:0fd3738137f9067b25addc89d3427dd4:9effdc64893a37702941da4b39f0cf11$</string>
            <key>textureFileName</key>
            <string>MainGame.png</string>
        </dict>
    </dict>
</plist>
