<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sym_Bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,184}</string>
                <key>spriteSourceSize</key>
                <string>{177,184}</string>
                <key>textureRect</key>
                <string>{{568,198},{177,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sym_Effect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,260}</string>
                <key>spriteSourceSize</key>
                <string>{259,260}</string>
                <key>textureRect</key>
                <string>{{1,1},{259,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sym_Jackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,202}</string>
                <key>spriteSourceSize</key>
                <string>{173,202}</string>
                <key>textureRect</key>
                <string>{{262,1},{173,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sym_Scatter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,195}</string>
                <key>spriteSourceSize</key>
                <string>{173,195}</string>
                <key>textureRect</key>
                <string>{{437,1},{173,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sym_SymA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,148}</string>
                <key>spriteSourceSize</key>
                <string>{167,148}</string>
                <key>textureRect</key>
                <string>{{747,169},{167,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sym_SymB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,130}</string>
                <key>spriteSourceSize</key>
                <string>{166,130}</string>
                <key>textureRect</key>
                <string>{{747,338},{166,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sym_SymC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,152}</string>
                <key>spriteSourceSize</key>
                <string>{166,152}</string>
                <key>textureRect</key>
                <string>{{612,1},{166,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sym_SymD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,186}</string>
                <key>spriteSourceSize</key>
                <string>{184,186}</string>
                <key>textureRect</key>
                <string>{{382,205},{184,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sym_SymE.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,168}</string>
                <key>spriteSourceSize</key>
                <string>{110,168}</string>
                <key>textureRect</key>
                <string>{{568,384},{110,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sym_SymF.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,202}</string>
                <key>spriteSourceSize</key>
                <string>{192,202}</string>
                <key>textureRect</key>
                <string>{{1,263},{192,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sym_SymG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,141}</string>
                <key>spriteSourceSize</key>
                <string>{166,141}</string>
                <key>textureRect</key>
                <string>{{766,1},{166,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sym_Wild.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{185,199}</string>
                <key>spriteSourceSize</key>
                <string>{189,199}</string>
                <key>textureRect</key>
                <string>{{195,263},{185,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SlotObject.png</string>
            <key>size</key>
            <string>{914,495}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5cd8d43f3c476b1feed522d366da4d1e:f6e8452a82f17bcece0c1fb7563037ac:89b0b0fca6d26c0dab3f1ba37a6bc76b$</string>
            <key>textureFileName</key>
            <string>SlotObject.png</string>
        </dict>
    </dict>
</plist>
